{% extends "base.html" %}
{% block content %}

<h2 class="text-center mb-4">Категорії</h2>
{% if categories %}
<div class="category-nav">
    {% for item in categories %}
        <a href="{{ item.get_absolute_url }}">{{ item.category }}</a>
    {% endfor %}
</div>
{% endif %}


<h2 class="text-center mb-4">Останні статті</h2>
{% if articles %}
    {% for item in articles %}
        <article class="article-block">
            <h2><a href="{{ item.get_absolute_url }}">{{ item.title }}</a></h2>
            <p class="text-muted mb-2">{{ item.pub_date|date:"j E Y" }}</p>
            <p>{{ item.description|striptags|truncatewords_html:32 }}</p>
        </article>
    {% endfor %}
{% endif %}

<div class="text-center mt-4 all-publications">
    <a href="{% url 'articles-list' %}">Всі публікації</a>
</div>

{% endblock %}